PyMySQL==0.9.3
argparse==1.4.0
mysql-replication==0.19
psycopg2-binary==2.8.4
PyYAML==5.1.2
tabulate==0.8.5
rollbar==0.14.7
Daemonize==2.5.0
pandas==

grpcio==1.24.3
grpcio-tools==1.24.3
python-dateutil==2.8.0